.App {
  text-align: center;
}

/* Global Flex Classes */
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.space-btw {
  justify-content: space-between;
}
.align-rw-cntr {
  align-items: center;
}
/* Global Font Classes */
.extra-bold {
  font-family: "Abhaya Libre", serif;
  display: flex;
  font-weight: 800;
  font-size: 48px;
}
.medium-font {
  font-family: "Abhaya Libre", serif;
  font-weight: 500;
  font-size: 48px;
  letter-spacing: -1px;
}

/* Global Button Classes */
.button-1 {
  font-size: 16px;
  color: #ffffff;
  background-color: #1c8bf9;
  border: 0;
  width: 23%;
  height: 13%;
  border-radius: 6px;
  -webkit-appearance: none;
  cursor: pointer;
  margin: 30px auto;
}
.button-1:hover {
  background-color: #fff;
  color: #1c8bf9;
  border: solid 1px #1c8bf9;
}

.button-2 {
  font-size: 16px;
  color: #ffffff;
  background-color: #1c8bf9;
  border: 0;
  width: 129px;
  height: 40px;
  border-radius: 6px;
  -webkit-appearance: none;
  cursor: pointer;
  margin: 0px;
}
.button-2:hover {
  background-color: #fff;
  color: #1c8bf9;
  border: solid 1px #1c8bf9;
}

.button-3 {
  font-size: 13px;
  color: #ffffff;
  background-color: #1c8bf9;
  border: 0;
  width: 69px;
  height: 32px;
  border-radius: 6px;
  -webkit-appearance: none;
  cursor: pointer;
  margin: 0px;
}
.button-3:hover {
  background-color: #fff;
  color: #1c8bf9;
  border: solid 1px #1c8bf9;
}

.button-4 {
  font-size: 13px;
  color: #ffffff;
  background-color: #1c8bf9;
  border: 0;
  width: 108px;
  height: 35px;
  border-radius: 6px;
  -webkit-appearance: none;
  cursor: pointer;
  margin-bottom: 30px;
}

.button-4:hover {
  background-color: #fff;
  color: #1c8bf9;
  border: solid 1px #1c8bf9;
}

.button-5 {
  font-size: 13px;
  color: #ffffff;
  background-color: #bd2c26;
  border: 0;
  width: 108px;
  height: 35px;
  border-radius: 6px;
  -webkit-appearance: none;
  cursor: pointer;
  margin-bottom: 30px;
}

.button-5:hover {
  background-color: #fff;
  color: #bd2c26;
  border: solid 1px #bd2c26;
}
.button-6 {
  font-size: 13px;
  color: rgb(34, 34, 34);
  background-color: rgb(128, 189, 247);
  border: 0;
  width: 108px;
  height: 35px;
  border-radius: 6px;
  -webkit-appearance: none;
  cursor: pointer;
  margin-bottom: 30px;
}

.button-6:hover {
  background-color: #fff;
  color: rgb(34, 34, 34);
  border: solid 1px rgb(128, 189, 247);
}

.button-7 {
  font-size: 14px;
  color: #ffffff;
  background-color: #1c8bf9;
  border: 0;
  width: 129px;
  height: 25px;
  -webkit-appearance: none;
  cursor: pointer;
  margin: 0px;
}
.button-7:hover {
  background-color: #fff;
  color: #1c8bf9;
  border: solid 1px #1c8bf9;
}

/* Global <hr/> */
.line-break-1 {
  border: solid 1px lightgrey;
  width: 90%;
}

/* Global Margin Classes */
.margin-0 {
  margin: 0px;
}
.margin-cntr {
  margin: 0 auto;
}

/* Global Links and <a> */
a {
  color: rgb(34, 34, 34);
}
