.edit-form-container {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form-edit {
  width: 100%;
  height: 51%;
  padding: 12px 20px;
  margin: 8px auto;
  background: none;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
}

#edit-submit {
  position: relative;
  top: 97px;
}
