.employee-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5%;
}
.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
  margin: 25px;
}

.table-page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.infraction-title {
  width: 100%;
  text-align: left;
  margin: 0 0 14px;
}
.form-create {
  display: flex;
  flex-direction: column;
  width: 57%;
  margin: 0 auto;
}
.form-create > label {
  color: rgb(128, 189, 247);
}

.reformat-input {
  width: 86%;
  height: 51%;
  color: rgb(191, 191, 191);
  padding: 12px 20px;
  margin: 8px auto;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(191, 191, 191);
  box-sizing: border-box;
  font-size: 16px;
}
.form-add {
  width: 86%;
  height: 51%;
  color: rgb(191, 191, 191);
  font-size: 16px;
  padding: 12px 20px;
  margin: 8px auto;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(191, 191, 191);
  box-sizing: border-box;
  font-family: "Helvetica";
}
